<div class="container-fluid">
  
  <div class="row">
    <h5 class="col-xs-12 col-md-8 offset-md-2">
      Это тестовая версия. Для правильной работы должны быть разрешены сторонние файлы cookie
    </h5>
  </div>
  
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary btn-lg"
    (click)="vkAuth()">
      <span class="fab fa-vk"></span>&nbsp;Авторизация ВКонтакте
    </button>
  </div>
  
  <div class="row">
    <div class="alert alert-primary col-xs-12 col-md-8 offset-md-2" role="alert"
    *ngIf="status == 'connected'">
      <p>{{firstName}}&nbsp;{{lastName}}</p>
      <p>{{nickname}}</p>
      <p>Ссылка на ВК: <a href="{{userHref}}">{{userHref}}</a></p>
      <p>Список друзей:</p>
      <p *ngFor="let friendId of friendsIds">
        <a href="https://vk.com/id{{friendId}}">
          https://vk.com/id{{friendId}}
        </a>
      </p>
    </div>
    
    <div class="alert alert-danger col-xs-12 col-md-8 offset-md-2" role="alert"
    *ngIf="status == 'not_authorized' || status == 'unknown' || errorMessage">
      
      <p *ngIf="status == 'not_authorized'">
        Пользователь авторизован ВКонтакте, но не разрешил доступ приложению
      </p>
      
      <p *ngIf="status == 'unknown'">
        Пользователь не авторизован ВКонтакте
      </p>

      <p *ngIf="errorMessage">
        Ошибка.<br>
        {{errorMessage}}
      </p>
    </div>

  </div>
</div>